.bg-light {
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 3rem;
    text-transform: lowercase;
    color: #ffffff !important;
    font-weight: 700;
}
#body-nav .navbar-nav {
    & .nav-link{
        margin-right: 15px;
        font-weight: 600;
        padding: 10px 20px 10px 20px;
        & .MuiSvgIcon-root{
            font-size: 1.2rem;
            margin-bottom: 3pt;
            margin-right: 5pt;
        }
    } a:hover{
        background-color: #ffffff2e;
    }
    
    & .active > .nav-link {
        border: 1px solid #ffffff73;
        
    }

    & .nav-tel{
        font-weight: 200;
        margin-right: -5pt;
        font-family: 'Oleo Script', cursive;
    }
}
