.bg-light {
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 3rem;
    text-transform: lowercase;
    color: #ffffff !important;
    font-weight: 700;
}
#body-nav .navbar-nav {
    & .nav-link{
        margin-right: 30px;
        & .MuiSvgIcon-root{
            font-size: 1.2rem;
            margin-bottom: 3pt;
            margin-right: 5pt;
        }
    }
    & .active > .nav-link {
        border: 1px solid #ffffff;
        padding: 10px 20px 10px 20px;
    }
}
