@mixin light-border($side){
    border: 0.5px solid;
    border-color: transparent;
    border-#{$side}-color: #ffffff4d !important;
}

.bg-light {
    background-color: transparent !important;
}
#main-nav {
    padding: 0;
    font-weight: 600;
    @include light-border(bottom);
    & .nav-item:hover{
        background-color: #ffffff2e;
    }
}
.border-right {
    @include light-border(right)
}

.dropdown-menu {
    background-color: #ffffff21;
    & .dropdown-item{
        color: #ffffffff;
        font-weight: 600;
        &:hover{
            background-color: #ffffff4a;
        }
    }
}

